/* reset */
 * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
    
nav ul li a {
        background-color: tomato;
        font-family: fantasy;
        font-size: 15px;
        color: whitesmoke;
}